.subtitle-label-section{
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    font-family: LabradorA;
    font-size: 25pt;
    color: #152F4A;
}

table tr th{
    cursor: pointer;
}

table tr td{
    cursor: auto;
}

.data-table{
    background-color: white; 
    width: 100%; 
    overflow-x: auto;
}

.data-table tr th{
    text-align: center; 
    border: solid 1px #ccc; 
    background-color: #152F4A; 
    color: white; 
    padding: 7px;
}

.data-table tr td{
    text-align: center;
    border: solid 1px #ccc;
}

.data-table .large-columns{
    background-color: white; 
    width: 100%; 
    display: block; 
    overflow-x: auto; 
    white-space: nowrap;
}

.data-table tr .captured{
    background-color: #1ABB9C;
    color: white;
}

.data-table tr .pending{
    background-color: #F8EA53;
    color: #666666;
    cursor: pointer !important;
}

.data-table tr .pending:hover{
    padding: 10px;
    text-align: center;
    color: gray;
    background-color: white;
    cursor: pointer;
    margin: 1px;
}

.data-table tr .incompleted{
    background-color: #F75151 !important;
    color: white !important;
}

#pending-agreements-table{
    height: 300px;
    overflow: scroll;
    display: block;
}

.primary-status{
    background-color: #007bff; 
    color: white;
}

.secondary-status{
    background-color: #DCE3DF;
    color: black;
}

.danger-status{
    background-color: #dc3545; 
    color: white;
}

.success-status{
    background-color: #28a745; 
    color: white;
}

.warning-status{
    background-color: #ffc107; 
    color: white;
}

#pending-agreements-table tbody .data-table-row td {
    cursor: pointer !important;
}

#pending-agreements-table .data-table-row:hover{
    cursor: pointer !important;
    background-color: #7C8B9E !important;
    color: white !important;
}





.period-label{
    float: left;
    font-size: 24pt;
}

#capture-period-form .form-buttons{
    width: 100%;
    display: inline-block;
}




table tr th{
    cursor: pointer;
}

table tr td{
    cursor: auto;
}

.data-table{
    background-color: white; 
    width: 100%; 
    overflow-x: auto;
}

.data-table tr th{
    text-align: center; 
    border: solid 1px #ccc; 
    background-color: #152F4A; 
    color: white; 
    padding: 7px;
    font-family: LabradorA;
    font-size: 20pt;
}

.data-table tr td{
    text-align: center;
    border: solid 1px #ccc;
}

.data-table .large-columns{
    background-color: white; 
    width: 100%; 
    display: block; 
    overflow-x: auto; 
    white-space: nowrap;
}

.data-table tr .captured{
    background-color: #1ABB9C;
    color: white;
}

.data-table tr .pending{
    background-color: #F8EA53;
    color: #666666;
    cursor: pointer !important;
}

.data-table tr .pending:hover{
    padding: 10px;
    text-align: center;
    color: gray;
    background-color: white;
    cursor: pointer;
    margin: 1px;
}

.data-table tr .incompleted{
    background-color: #F75151 !important;
    color: white !important;
}

#pending-agreements-table{
    height: 300px;
    overflow: scroll;
    display: block;
}

.primary-status{
    background-color: #007bff; 
    color: white;
}

.secondary-status{
    background-color: #DCE3DF;
    color: black;
}

.danger-status{
    background-color: #dc3545; 
    color: white;
}

.success-status{
    background-color: #28a745; 
    color: white;
}

.warning-status{
    background-color: #ffc107; 
    color: white;
}

#pending-agreements-table tbody .data-table-row td {
    cursor: pointer !important;
}

#pending-agreements-table .data-table-row:hover{
    cursor: pointer !important;
    background-color: #7C8B9E !important;
    color: white !important;
}
