.inegi-sidenav div.element{
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #7C8B9E;
    cursor: pointer;
    margin: 1px;
}

.inegi-sidenav div.element.active{
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #152F4A;
    margin: 1px;
}

.inegi-sidenav div.element:hover{
    padding: 15px;
    text-align: center;
    color: gray;
    background-color: white;
    cursor: pointer;
    margin: 1px;
}

.inegi-sidenav div.completed{
    border-right: 1rem solid #1ABB9C;
    
}

.inegi-sidenav div.non-completed{
    border-right: 1rem solid #E44026;
    
}

#inegi-form{
    display: inline-block;
    background-color: white;
    padding: 7px;
    width: 100%;
}

.inegi-sidenav{
    width: 20%;
    display: block;
    float: left;
}

#inegi-capture-section{
    width: 80%;
    float: right;
    padding: 5px;
    height: 100%;
}

#inegi-current-record-section{
    margin-top: 15px;
    width: 100%;
    display: inline-block;
}

#inegi-current-record-section table tbody tr td{
    background-color: aquamarine;
}
