<?php
	$servername = "";
	$username = "";
	$password = "";
	$db = "";
	
	$connectionInfo = array(
        'CharacterSet' => 'UTF-8', 
        'Database' => $db, 
        'UID' => $username, 
        'PWD' => $password
    );

	$conn = sqlsrv_connect( $servername, $connectionInfo);
?>
